/* Import your theme variables based on selected in Omarchy menu*/
@import "../omarchy/current/theme/waybar.css";

window#waybar {
    background-color: transparent;
    margin: 0;
    border-radius: 0;
    color: @foreground;
    font-family: 'CaskaydiaMono Nerd Font';
    font-size: 12px;
}
#clock,
#battery,
#cpu,
#memory, 
#pulseaudio,
#network,
#bluetooth,
#tray,
#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update,
#custom-expand-icon,
#custom-ip { 
    background-color: @background;
    
    border-radius: 0 0 10px 10px;
    
    margin: 0 3px 4px 3px; 
    
    padding: 3px 12px; 
    min-height: 0;
}

#workspaces {
    background-color: @background;

    border-radius: 0 0 10px 10px;
    margin: 0 3px 4px 3px; 
    
    padding: 3px 5px; 
}

#workspaces button {
    all: initial;
    font-family: 'CaskaydiaMono Nerd Font';
    font-size: 12px;
    color: @foreground;
    padding: 0 6px;
    margin: 0 1.5px;
    min-width: 9px;
    border-radius: 50px; 
    background-color: transparent;
}

#workspaces button.empty {
    opacity: 0.5;
}

#workspaces button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
#workspaces button.focused {
    background-color: rgba(255, 255, 255, 0.2);
    color: @foreground;
}

.modules-left {
    margin-left: 8px;
}

.modules-right {
    margin-right: 8px;
}

#cpu,
#battery,
#pulseaudio,
#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update {
    min-width: 12px;
    margin: 0 7.5px 4px 7.5px; 

#tray {
    margin-right: 16px;
}

#bluetooth {
    margin-right: 17px;
}

#network {
    margin-right: 13px;
}

#custom-expand-icon {
    margin-right: 20px;
}

#clock {
    margin-left: 8.75px;
}

* {
    border: none;
    min-height: 0;
}

tooltip {
    padding: 2px;
    background-color: @background;
    border-radius: 4px;
}

#custom-update {
    font-size: 10px;
}

.hidden {
    opacity: 0;
}

#custom-screenrecording-indicator {
    min-width: 12px;
    margin-left: 8.75px;
    font-size: 10px;
}

#custom-screenrecording-indicator.active {
    color: #a55555;
}